$p: rgb(240, 48, 48);
// $most: #b82329;
$most: #c4161c;
// $active: #9c1e22;
$active: #8b1014;
$silverType: #f4f3f3;
// $lightSil
// $pinkType: #f8dedf;
// $pinkType: #fff0f1;
$pinkType: rgb(255, 214, 221);
$litePink: #f8dedf8c;
$txtColor: #bf1313;
$messengerClr: #076ece;
$orangeType: rgb(255, 136, 0);
$lightBorder: rgb(177, 177, 177);
$darkSilver: rgb(134, 134, 134);
$blueList: #005c99;
