.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flex(column);
  @include header;
  position: relative;
  .main {
    @include flex(column);
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
    .first {
      background: $litePink;
      width: 100%;
      @include flex(column);
      align-items: center;
      padding-top: 5px;
      padding-bottom: 25px;
      border-bottom-left-radius: 19px;
      border-bottom-right-radius: 19px;
      div {
        width: 80%;
        @include flex(row);
        align-items: center;
        justify-content: space-around;
      }
      & > :nth-child(1) {
        padding: 10px;
        div {
          @include flex(column);
          p {
            line-height: 20px;
            font-size: 14px;
          }
        }
        & > :nth-child(1) {
          h3 {
            color: $most;
          }
        }
      }
      & > :nth-child(2) {
        background: white;
        @include flex(row);
        align-items: center;
        gap: 0.2em;
        justify-content: space-around;
        width: 75%;
        border-radius: 7px;
        border: 1px solid $pinkType;
        padding: 3px;
        div {
          @include flex(row);
          align-items: center;
          justify-content: center;
          gap: 0.3em;
          p {
            font-size: 13px;
          }
          span {
            font-size: 13px;
          }
        }
      }
    }

    // when there is no list
    .empty {
      width: 90%;
      border-radius: 7px;
      position: absolute;
      top: 20%;
      @include flex(column);
      box-shadow: 0px 0px 6px 0px rgb(196, 156, 46);
      div {
        @include flex(row);
        gap: 0.5em;
        align-items: center;
        padding: 10px 5px 10px 15px;
        svg {
          font-size: 24px;
          color: $orangeType;
        }
        p {
          font-size: 14px;
        }
      }
      & > :nth-child(1) {
        background: $orangeType;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        color: white;
        position: relative;
        svg {
          color: white;
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          left: 30px;
          background: $orangeType;
          bottom: -10px;
          transform: rotate(-45deg);
        }
      }
      & > :nth-child(2) {
        margin-top: 10px;
      }
      & > :nth-child(4) {
        justify-content: center;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          right: 30px;
          bottom: -11px;
          transform: rotate(-45deg);
          border-left: 0.2px solid rgba(196, 156, 46, 0.692);
          border-bottom: 0.2px solid rgba(196, 156, 46, 0.692);
          background: white;
          z-index: 2;
        }
        svg {
          color: black;
        }
        span {
          text-decoration: underline;
        }
      }
    }
    .add-customer-supplier {
      position: absolute;
      bottom: 80px;
      right: 15px;
      padding: 12px 18px 12px 18px;
      border-radius: 24px;
      background: $most;
      color: white;
      @include flex(row);
      align-items: center;
      gap: 0.3em;
      p {
        font-size: 14px;
      }
    }
  }
  .footer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: $most;
    @include flex(row);
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    div {
      height: 100%;
      padding: 8px 0px 8px 0px;
      width: 33.33%;
      @include flex(column);
      align-items: center;
      color: white;
      svg {
        font-size: 19px;
      }
    }
    .active {
      background: $active;
    }
    & > :nth-child(1) {
      border-top-left-radius: 10px;
    }
    & > :nth-child(3) {
      border-top-right-radius: 10px;
    }
  }
}
