.password {
  @include flex(column);
  padding: 40px 20px 20px 20px;
  .first {
    @include imgWrapper;
    p {
      font-size: 14px;
      transform: translateY(-10px);
    }
  }
  .inputs-wrapper {
    @include flex(column);
    gap: 0.9em;
    @include introInputs;
    i {
      position: absolute;
      display: block;
      top: 50%;
      right: 10px;
      transform: translateY(-40%);
      font-size: 19px;
    }
    @include btn;
  }
}
