@import "color";
@import "font";
@import "./mixins/mixin";
@import "./mixins/input";
@import "home";
@import "cash";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: $bangla;
}
